	<title>Mensageiro</title>
</head>
<body>
    <div class="container">
    	<div class="panel panel-login">
        	<button onclick="location.href = 'controllers/cadastrar.php';" id="myButton" class="float-left submit-button" >cadastrar</button><br>
			<img src="https://st.depositphotos.com/1724942/1809/i/950/depositphotos_18099721-stock-photo-bad-news-messenger.jpg" style="width:  68px;margin: 10px;">
    		<form class='form-login form' action="/mensageiro/controllers/entrar.php">
    			<input type="text" name="usuario" value="usuario" class="input-user input">
    			<br>
    			<input type="password" name="senha" class="input-password input">
    			<br>
    			<button type="submit" class="btn btn-confirmar">Confirmar</button>
    		</form>
    	</div>
    </div>
</body>
</html>